{{!
    @template block_pharmaco/complete_course

    Display a message and link to the test course to complete
    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "fullname": "My test course fullname",
        "viewurl": "http://xxx/course/view.php?id=courseid"
        "progress": 60
        "hasstarted": true
    }
}}
<div id="block-pharmaco-{{uniqid}}" class="block-pharmaco" data-region="pharmaco">
    <div class="coursetest-message">{{#str}}
        testcourseneedscompletion, block_pharmaco, {{fullname}} {{/str}}</div>
    {{> block_myoverview/progress-bar }}
    <div class="test-action">
        <a href="{{viewurl}}" class="btn btn-secondary view-course">
            {{#hasstarted}}
                {{#str}} launchcourse:started, block_pharmaco {{/str}}
            {{/hasstarted}}
            {{^hasstarted}}
                {{#str}} launchcourse:first, block_pharmaco {{/str}}
            {{/hasstarted}}
        </a>
    </div>
</div>